<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-list>
  <ion-list-header>
    <ion-label>Usuarios</ion-label>
    <ion-button routerLink= "/dashboard/users/new">Nuevo usuario</ion-button>
  </ion-list-header>
  <ion-item 
      button 
      *ngFor="let user of users"
      routerLink="/dashboard/users/{{user.id}}/edit"
    >
    <ion-label>{{user.name}} {{user.last_name}}</ion-label>
  </ion-item>
</ion-list>