<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
	<ion-card class="ion-no-margin ion-no-border ion-margin-top		">
		<div class="content-image">
			<img src="https://via.placeholder.com/100x100" />
		</div>
		<ion-card-content>
			<div class="btn-auth">
				<ion-button [routerLink]="['/login']" expand="block" fill="solid">Iniciar sesión</ion-button>
				<ion-button [routerLink]="['/register']" class="ion-margin-top" expand="block" fill="outline">Crear cuenta</ion-button>
			</div>
		</ion-card-content>
	</ion-card>
</ion-content>

