<!-- <ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-title></ion-title>
	</ion-toolbar>
</ion-header> -->

<ion-content>
	<ion-card class="ion-no-margin">
		<ion-img src="https://via.placeholder.com/300x200"></ion-img>
		
		<ion-card-content>
			<ion-item>
				<ion-icon name="mail-outline" class="ion-margin-end"></ion-icon>
				<ion-input name="usernmae" type="text" placeholder="usuario@mail.com"></ion-input>
			</ion-item>
			<ion-item class="ion-margin-top">
				<ion-icon name="lock-closed-outline" class="ion-margin-end"></ion-icon>
				<ion-input name="usernmae" type="password" placeholder="*****"></ion-input>
			</ion-item>
			<div class="ion-margin-top">
				<ion-button 
					expand="block" 
					fill="solid"
					[routerLink]="['/dashboard-home']"
				>
					Ingresar
				</ion-button>
			</div>
			<div class="ion-margin-top ion-text-center">
				<span>¿No tienes cuenta? crea una cuenta aqui</span>
			</div>
		</ion-card-content>
	</ion-card>
</ion-content>
